.tabela-vestuario th {
  padding: 10px;
  background-color: #BB86FC;
  color: white;
}

.tabela-casa th {
  padding: 10px;
  background-color: #00C4B4;
  color: white;
}

.tabela-vestuario td,
.tabela-casa td {
  padding: 10px;
  background-color: #424250;
  color: white;
}
